@charset 'UTF-8';

/* Map Page */
#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}


/*Directions Page*/
.dir-distance {
	font-size: 0.8em;
	font-style: italic;
}

.dir-duration {
	font-size: 0.8em;
	font-style: italic;
}

.dir-walk-details {
	padding-left: 1em;
}